<title>Kanji Translation App</title>

<!-- JQuery and twitter bootstrap stuff, ver. 3.3.4 is old, 
	these probably need to be updated when we use our own bootstrap?? -->
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!-- Local CSS -->
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
