# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# local test files
testCV.js
testAPI.js

# Security
TranslateDebugTools-6677ff49d2a7.json
Translate Debug Tools-6677ff49d2a7.json

testfiles
upload
/public/upload