# Node build artifacts
node_modules
npm-debug.log
upload

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# local test files
testCV.js
testAPI.js
japanese-kanji-tattoo-collection-awesome.jpg
