<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="mx-auto mt-5" style="width: 200px;">
  
    <% if(errors != undefined){ %>
		<ul>
		<% errors.forEach(function(error){ %>
			<li><%= error.msg %></li>
		<% }) %>
		</ul> 
	<% } %>
 
    <form action="/translate" method="post" enctype="multipart/form-data">
      <input type="file" name="image" id="fileToUpload" ><br><br>
      <input type="submit" value="Upload Image" name="submit" class="btn btn-secondary">
    </form>
  </div>
  <p id="result"></p>
  
  <!-- bootstrap accordion text -->
  <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Detected Text
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
	  <%= UserImage.textDetections %>
	  </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Pronunciation
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
	  <%= UserImage.textPronunciation %>
	  </div>
    </div>
  </div>
</div>
</body>

</html>
